:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --accent-color: #cccccc;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

a:hover {
  color: var(--accent-color);
}

/* src/app/globals.css or your Tailwind CSS file */
h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5rem;
  margin-top: 1rem;
}

p {
  font-size: 1rem;
  color: #333; /* Dark gray text */
}

a {
  color: #000; /* Black links */
  text-decoration: underline;
}

div {
  padding: 1rem 0;
  border-bottom: 1px solid #ddd;
}

div:last-of-type {
  border-bottom: none;
}
